.logo {
    width: calc(100% - 20px);
    height: 150px;
    padding: 10px;
    margin-left: 10px;
    background-image: url("https://purepng.com/public/uploads/thumbnail//google-stadia-logo-hd4.png");
    background-size: cover;
    background-position: center;
}
