.root {
    width: calc(100% - 40px);
    display: flex;
    margin: 20px;
    border: 1px solid rgba(138,43,226,0.5);
    box-shadow: 2px 2px 10px rgba(138,43,226,0.5);
    border-radius: 5px;
    transition: 0.5s;
    transform: scale(0.925);
    animation: show 0.75s forwards;
}

@keyframes show {
    0%{
        opacity: 0.5;
        transform: scale(0.925);
    }
    50%{
        opacity: 0.75;
        transform: scale(1.025);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.root:hover {
    border: 1px solid rgb(138,43,226);
    box-shadow: 2px 2px 10px rgb(138,43,226);
    transition: 0.5s;
}

.avatar {
    display: flex;
    align-items: center;
    padding: 15px 0;
    width: 20%;
    justify-content: center;
}

.avatar img {
    width: 70px;
    border-radius: 50%;
}

.message {
    width: 70%;
    padding: 10px;
    color: white;
}

.action {
    position: relative;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.likeIcon {
    font-size: 40px;
    color: rgba(242,82,104,0.7);
    transform: scale(1);
    z-index: 1;
    transition: 0.3s;
    cursor: pointer;
}

.likeIcon:hover {
    color: rgb(242,82,104);
    transform: scale(1.1);
    transition: 0.3s;
    z-index: 3;
}

.action span {
    font-size: 15px;
    color: white;
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 5px);
    user-select: none;
    z-index: 2;
}
