.root {
    margin: 10px;
}

.root input {
    width: 400px;
    height: 30px;
    padding: 5px 160px 5px 50px;
    font-size: 16px;
    border-radius: 5px;
    color: rgb(138,43,226)  ;
    border: 2px solid rgb(138,43,226);
    background: rgba(138,43,226, .2);
}

.root input:focus {
    outline: none;
}